# Environments
.env*
.venv/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/


# Logs
logs/
*.log

# Distribution
build/
dist/
*.egg-info/

# Agents
/.agent
claude.md
/.claude

ROADMAP.md
README-RULES.md

.postman/
postman/